<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome, <span th:text="${#authentication.name}"></span>!</h1>

<p>User roles: <span th:text="${#authentication.authorities}"></span></p>

<!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
<div sec:authorize="isAuthenticated()">
    Only Authenticated user can see this Text
    <!--ROLE_USER 권한을 갖는다면 이 글이 보임-->
    <h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>

    <!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임-->
    <h1 sec:authorize="hasRole('USER')">Has user Role</h1>
    <!--인증시 사용된 객체에 대한 정보-->
    <b>Authenticated DTO:</b>
    <div sec:authentication="principal"></div>
    <div th:text="${#authentication.principal}"></div>

    <!--인증시 사용된 객체의 Username (ID)-->
    <b>Authenticated username:</b>
    <div sec:authentication="name"></div>
    <div th:text="${#authentication.name}"></div>
</div>

<!--객체의 권한-->
<!--<b>Authenticated user role:</b>-->
<!--<div sec:authentication="principal.authorities"></div>-->
<!--<div th:text="${#authentication.principal.authorities}"></div>-->
<a th:href="@{login}">Login</a>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>
